<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/style_eroare.css" type="text/css" />
	<meta charset="UTF-8">
	<meta name="description" content="Richii elegante, la moda, diverse stiluri">
	<meta name="keywords" content="rochii">
	<meta name="author" content="RAMIA">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="resurse/imagini/dress_favicon.png" rel="icon" type="image/x-icon" />	
	<title> ROCHII RAMIA</title>

</head>
<body class="container">


<main>
<p>404!</p>
<p>Nu am gasit resursa, sorry!</p>
<a href="index.ejs"> <p> ROCHII RAMIA </p> </a>
<img id="sad" src="/imagini/sad.png" alt="Sad Face :(" title="sad face">
</main>


</body>
</html>  
