<!DOCTYPE html>
<html lang="ro">

<head>
	<meta charset="utf-8" />
	<title>Elevi</title>
	<link rel="stylesheet" href="ex_js_CRUD_dom.css" type="text/css">


	<script src="ex_js_CRUD_dom.js">

	</script>
</head>

<body>
	<main>
		<h1>Tabel elevi</h1>
		<div id="container_tabel"></div>
		<div id="container_butoane">
			<button id="add_inceput">Adauga elev inceput</button>
				<button id="add_sfarsit">Adauga elev sfarsit</button>
				<button id="inverseaza_np">Inverseaza nume-prenume</button>
				<button id="deselectare">Deselecteaza toti elevii</button>	
				<button id="dezactivare">Dezactiveaza actiuni randuri</button>		
				<button id="sterge">Sterge elevii din clasa ...</button>
				<button id="sorteaza_nume">Sorteaza elevi dupa nume</button>
				<button id="sorteaza_medie">Sorteaza elevi dupa medie</button>				
				<button id="goleste_tabel">Goleste tabel</button>
				<button id="select_elevi">Pastreaza elevi admisi</button>
				<button id="verifica_elevi">Verifica elevi admisi</button>
				<button id="gaseste_elev">Gaseste elev</button>
				<button id="inverseaza">Inverseaza randuri</button>
				<button id="status">Status elevi</button>
				<button id="nota_10">Nota 10!!!</button>
				<button id="toggle_info">Ascunde info</button>
			</div>
			<section id="container_info">
				<h2>Informatii</h2>
				<div id="info"></div>
			</section>
		</main>
	</body>
</html>