<!DOCTYPE html>
<html lang="ro">
<head>
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/style_400.css" type="text/css" media="screen and (max-width: 400px)" />
	<link rel="stylesheet" href="/css/style_700.css" type="text/css" media="screen and (max-width: 700px)" />
	<meta charset="UTF-8">
	<meta name="description" content="Richii elegante, la moda, diverse stiluri">
	<meta name="keywords" content="rochii">
	<meta name="author" content="RAMIA">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="resurse/imagini/dress_favicon.png" rel="icon" type="image/x-icon" />	
	<title> ROCHII RAMIA</title>

</head>
<body>
	<%- include("../fragmente/header") %>

  <main>
		
		<h2> Home</h2>
	<section>
    <div id="rochie">
      ROCHII <br/> RAMIA <br/> ELEGANTE
    </div>
    </section></section> 
	<section>
          <section>
            <h2> Comenzi </h2>
            <p> Aici sunt comenzile</p>
		</section> </section></section>
  <div id="contact">
		<address>
      <ul>
        <li> Rochii Ramia Bucuresti</li>
        <li> sector 3 str. Rochii nr 5 </li>
        <li> e-mail: <a href="ramia@yahoo.ro"> ramia@yahoo.ro </a> </li>
      </ul>
    </address>
    </div>
    </main>

	<%- include("../fragmente/footer") %>

</html> 