	<footer>
    <a href="#" id="link-top"><div id="triunghi"></div></a>
	<div id="contact">
		<address>
      <ul>
        <li> Rochii Ramia Bucuresti</li>
        <li> sector 3 str. Rochii nr 5 </li>
        <li  e-mail: <a href="ramia@yahoo.ro"> ramia@yahoo.ro </a> </li>
      </ul>
    </address>
    </div>

  </footer>
