<!DOCTYPE html>
<html lang="ro">
<head>
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/style_400.css" type="text/css" media="screen and (max-width: 400px)" />
    <link rel="stylesheet" href="/css/style_700.css" type="text/css" media="screen and (max-width: 700px)" />
	<meta charset="UTF-8">
	<meta name="description" content="Richii elegante, la moda, diverse stiluri">
	<meta name="keywords" content="rochii">
	<meta name="author" content="RAMIA">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/imagini/favicon.ico" rel="shortcut icon" type="image/x-icon" />	
	<title> ROCHII RAMIA </title>

</head>
<body>
<%- include("../fragmente/header") %>
  <main>
		<div>
			<img id="imgtxt" src="/imagini/colaj_mare.jpg" alt="colaj rochii" title="colaj">
      <div id="sectiuni">
				<p> Rochia de seară reprezintă acel obiect vestimentar care se îmbracă la ocazii speciale: ceremonii, nunți, botezuri, banchete, baluri sau alte evenimente deosebite. De regulă se folosesc materiale fine, elegante cum ar fi mătasea naturală, dantela sau catifeaua. 
				</p>
				<section> Rochiile sunt de mai multe feluri, ele fiind denumite după lungime, după model sau după culori. după lungime: rochii scurte sau mini - deasupra genunchiului, rochii până la genunchi sau midi Și rochii lungi - până în pământ.
				</section> 
				<section> După model: rochii mulate - ce urmează linia corpului, rochii sirenă - mulate până la genunchi apoi evazate, rochii cu trenă, rochii largi, rochii tip A, rochii empire, rochii cloș, rochii bodycon (sculptează silueta, punând în valoare formele), rochii pentru gravide, rochii „baby doll”.
				</section>
		  </div>
     </div>
  <div id="img_tabel">
  <section id="imgtabel"> <img id="poza_tabel" src="/imagini/colaj_alb.jpg" alt="colaj_alb">
    </section>
	<section id="tabel">
		<table>
			<caption> ORAR </caption>
			<tr>
				<th> ZI </th>
				<th> Ore de lucru </th>
			</tr>
			<tr>
				<td> Luni - Vineri </td>
				<td> 8:00 - 20:00 </td>
			</tr>
			<tr>
				<td> Sambata & Duminica </td>
				<td> 9:00 - 18:00 </td>
			</tr>
		</table>
	</section>
  </div>
	<div id="galerie">
			<figure><img src="/imagini/scurta_roz.jpg" alt="rochie roz scurta" title="rochie roz scurta"></figure>
			<figure><img src="/imagini/scurta_rosie.jpg" alt="rochie rosie scurta" title="rochie rosie scurta"></figure>
			<figure><img src="/imagini/scurta_negru.jpg" alt="rochie neagra scurta" title="rochie neagra scurta"></figure>
			<figure><img  src="/imagini/colaj_mare.jpg" alt="colaj rochii" title="colaj"> </figure>
		    <figure><img src="/imagini/lunga_roz.jpg" alt="rochie roz lunga" title="rochie roz lunga"></figure>
			<figure><img  src="/imagini/lunga_rosie.jpg" alt="rochie rosie lunga" title="rochie rosie lunga"></figure>
			<figure><img  src="/imagini/lunga_negru.jpg" alt="rochie neagra lunga" title="rochie neagra lunga"></figure>
    </div>
 
    </main>
	<%- include("../fragmente/footer") %>
  </body>

</html> 