<!DOCTYPE html>
<html lang="ro">
<head>
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/style_400.css" type="text/css" media="screen and (max-width: 400px)" />
	<link rel="stylesheet" href="/css/style_700.css" type="text/css" media="screen and (max-width: 700px)" />
  <meta charset="UTF-8">
	<meta name="description" content="Richii elegante, la moda, diverse stiluri">
	<meta name="keywords" content="rochii">
	<meta name="author" content="RAMIA">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/imagini/favicon.ico" rel="icon" type="image/x-icon" />	
	<title> ROCHII RAMIA</title>

</head>
<body>
	<%- include("../fragmente/header") %>

  <main>
		
		<p> ROCHII SCURTE </p>
	<div id="galerie">
	<figure>	
	<img class="figure" src="/imagini/scurta_roz.jpg" alt="rochie roz scurta" title="rochie roz scurta">
	<figcaption> Rochie Roz Scurta 350 RON</figcaption>
	</figure>
	<figure> 
	<img class="figure" src="/imagini/scurta_rosie.jpg" alt="rochie rosie scurta" title="rochie rosie scurta">
	<figcaption> Rochie Rosie Scurta 400 RON </figcaption>
	</figure>
	<figure>
	<img class="figure" src="/imagini/scurta_negru.jpg" alt="rochie neagra scurta" title="rochie neagra scurta">
	<figcaption> Rochie Neagra Scurta 300 RON</figcaption>
	</figure>
	</div> 
   
    </main>

	<%- include("../fragmente/footer") %>

  </body>

</html> 