html{
  font-size:10px;
}

#galerie{
  display:block;  
}

main{
  padding-left:1em;
  padding-right:1em;
  
  display:block;
                      
}

#container_animatie{
  display:none;
}

#galerie-animata:after{
  content:"Animatia nu se afiseaza pe mobil";

}
